
  body,html {
          margin:0;
         padding:0;
         
          background-repeat: no-repeat;
         

          

          }
header{
         margin:0;
         padding:0;
         } 
.navbar{
   margin-bottom: 0!important;
}
#div{
display:block;
}